@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

/* == Colors == */

--White: hsl(0, 100%, 100%);
--Purple100: hsl(275, 100%, 97%);
--Purple600: hsl(292, 16%, 49%);
--Purple950: hsl(292, 42%, 14%);
--font-family: "Work Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    background: url(assets/images/background-pattern-desktop.svg) no-repeat top center;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--White);
    width: 100%;
    max-width: 600px;
    padding: 1.5rem;

    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.411);
}

.img-star {
    width: 1.6rem;
    height: 1.6rem;
}

.img-mobile {
    display: none;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-weight: 700;
    cursor: pointer;
}

.faq-answer {
    display: non;
    color: var(--Purple950);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding-bottom: 1rem;
    opacity: 0.8;
}

.faq-item.active .faq-answer {
    display: block;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.img-plus {
    width: 1.2rem;
    height: 1.2rem;
}






